.dataGridHeader {
    text-align:center !important;
	font-size:12px;
	vertical-align:center;
	background-image: url('../images/table_head.jpg');
	background-repeat:repeat-x;
	word-wrap:break-word !important;
}
